{#{% block file_widget %}#}
    {#<label for="{{ form.vars.id }}" class="mb-0 mt-2">#}
        {#{% set image = form.parent.vars.data %}#}
        {#{% if image is not null and image.id is not null %}#}
        {#{% set publicPath = kernelProjectDir ~ '/public/' %}#}
        {#{% set filePath = image.fileName | replace({ (publicPath): "" }) %}#}
        {# TODO -> Remove this image, replace by orginal input #}
        {#<img src="{{ asset(image.path) }}" width="105" height="105" class="card {{ form.vars.id }}_img">#}
        {#{% else %}#}
        {#<img src="{{ asset('uploads/images/file_upload.png') }}" width="105" height="105" class="{{ form.vars.id }}_img">#}
        {#{% endif %}#}
    {#</label>#}
    {#<input type="file" hidden id="{{ form.vars.id }}" name="{{ form.vars.full_name }}" onchange="previewImage(this)">#}
    {#<div class="controls d-flex justify-content-around hidden">#}
        {#<label for="{{ form.vars.id }}" class="imageEditionPencil">#}
            {#<i class="fa fa-pencil"></i>#}
        {#</label>#}
        {#<label for="deleteInput" class="imageDeleteButton"><i class="fa fa-trash"></i></label>#}
    {#</div>#}
{#{% endblock file_widget %}#}
{% block file_widget %}
    <label for="{{ form.vars.id }}" class="mb-0">
        {% set image = form.parent.vars.data %}
        <img src="{{ asset('uploads/images/file_upload.png') }}" width="105" height="105" class="{{ form.vars.id }}_img">
    </label>
    <input type="file" hidden id="{{ form.vars.id }}" name="{{ form.vars.full_name }}" onchange="previewImage(this)">
    <div class="controls hidden d-flex justify-content-around">
        <label for="{{ form.vars.id }}" class="imageEditionPencil">
            <i class="fa fa-pencil"></i>
        </label>
        <label for="deleteInput" class="imageDeleteButton"><i class="fa fa-trash"></i></label>
    </div>
{% endblock file_widget %}


{% block url_widget %}
    <input type="url" id="{{ form.vars.id }}" name="{{ form.vars.full_name }}" class="form-control">
{% endblock url_widget %}
