{% block file_widget %}
    <label for="{{ form.vars.id }}" class="mb-0 mt-2">
        {% set image = form.parent.vars.data %}
        {% if image is not null and image.id is not null %}
            {% set publicPath = kernelProjectDir ~ '/public/' %}
            {% set filePath = image.fileName | replace({ (publicPath): "" }) %}
            {% if form.parent.vars.data.path is not null %}
                <img src="{{ asset(image.path) }}" width="105" height="105" class="card">
            {% else %}
                <img src="/img/{{ asset(image.fileName) }}" width="105" height="105" class="card">
            {% endif %}
        {% else %}
            <img src="{{ asset('img/file_upload.png') }}">
        {% endif %}
    </label>
    <input type="file" hidden id="{{ form.vars.id }}" name="{{ form.vars.full_name }}">
{% endblock file_widget %}
