{% block file_widget %}
    {% set image = form.parent.vars.data %}
    {% if image is null %}
        <label for="{{ form.vars.id }}" class="mb-0">
            <img src="{{ asset('uploads/images/file_upload.png') }}" width="125" height="125" class="{{ form.vars.id }}_img">
        </label>
    {% endif %}
    <input type="file" hidden id="{{ form.vars.id }}" class="imageInput" name="{{ form.vars.full_name }}" onchange="previewImage(this)">
{% endblock file_widget %}


{% block url_widget %}
    <input type="url" id="{{ form.vars.id }}" name="{{ form.vars.full_name }}" value="{{ form.vars.data }}" class="form-control mt-2">
{% endblock url_widget %}
