{% extends('base.html.twig') %}

{% block body %}
    {% if trick.images is not empty %}
        {% set image = trick.images.first() %}
        <div class="trick_header_image" style="background: url('/img/{{ asset(image.fileName) }}') center 30%; background-size: cover; height: 300px; width: auto">
            {% include('flash_messages.html.twig') %}
        </div>
    {% else %}
        {% include('flash_messages.html.twig') %}
    {% endif %}
    <section id="tricks_section" class="mx-md-5 my-md-3">
        <div class="modal-body">
            {% if trick.images is not empty %}
                <div class="trick__slider--container">
                    <div class="trick__slider--images d-flex">
                        {% for image in trick.images %}
                            <div class=mr-3>
                                <div class="border-0 d-flex justify-content-between card">
                                    <img src="/img{{ asset(image.fileName) }}" alt="Image de la figure {{ trick.name }}" width="105" height="105" class="card">
                                </div>
                                <div class="controls">
                                    <a href="{{ path( 'edit_trick', {'trickId': trick.id} ) }}"><i class="fa fa-pencil mr-2"></i></a>
                                    <a href=""><i class="fa fa-trash"></i></a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <hr>
            {% endif %}
            <div class="trick_edit_form d-flex flex-column my-4">
                <h3 class="text-md-center mb-4">Modifier la figure</h3>
                {{ form_start(form, {'attr': {'class': 'd-flex flex-column'}}) }}
                <div class="form-group">
                    {% if form_errors(form.name) is not empty %}
                        <div class="alert alert-danger" role="alert">
                            {{ form_errors(form.name) }}
                        </div>
                    {% endif %}
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name) }}
                </div>
                <div class="form-group">
                    {% if form_errors(form.description) is not empty %}
                        <div class="alert alert-danger" role="alert">
                            {{ form_errors(form.description) }}
                        </div>
                    {% endif %}
                    {{ form_label(form.description) }}
                    {{ form_widget(form.description) }}
                </div>
                <div class="form-group">
                    {% if form_errors(form.category) is not empty %}
                        <div class="alert alert-danger" role="alert">
                            {{ form_errors(form.category) }}
                        </div>
                    {% endif %}
                    {{ form_label(form.category) }}
                    {{ form_widget(form.category) }}
                </div>
                <div class="form-group">
                    {% if form_errors(form.images) is not empty %}
                        <div class="alert alert-danger" role="alert">
                            {{ form_errors(form.images) }}
                        </div>
                    {% endif %}
                    {{ form_label(form.images) }}
                    {{ form_widget(form.images) }}
                </div>
                <div class="controls d-flex justify-content-around mx-md-3 my-3">
                    <button type="submit" class="btn btn-success mr-md-3">Enregister</button>
                    <button class="btn btn-danger">Supprimer</button>
                </div>
                {{ form_end(form) }}

            </div>
        </div>
    </section>
{% endblock %}
