<section class="comments__section">
    {% if app.user is not null %}
        {% if app.user.activated == true %}
            <div class="trick__comment--form mb-5 d-flex flex-column">
                <h5 class="mb-2">Laisser un commentaire</h5>
                {{ form_start(form, {'attr': {'class': 'forms login__form d-flex flex-column'}}) }}
                <div class="form-group">
                    {{ form_row(form.content) }}
                </div>
                <button type="submit" class="btn btn-success align-self-center">Valider</button>
                {{ form_end(form) }}
            </div>
        {% endif %}
    {% endif %}

    <h5>Commentaires</h5>
    {% if trick.comments is empty %}
        <p class="text-center">Pas de commentaire pour le moment !</p>
    {% else %}
        <div class="trick__comments--list my-5 mx-3">
            {% for comment in trick.comments | reverse %}
                <div class="d-flex align-content-between">
                    {% if comment.user.avatar is not empty %}
                        <img src="/img{{ asset( comment.user.avatar ) }}" class="trick__comments--img align-self-center mr-2">
                    {% else %}
                        <img src="/img/avatarDummy.jpg" class="trick__comments--img align-self-center mr-2">
                    {% endif %}
                    <div class="card-body trick__comments--comment mb-2 px-3 py-2">
                        <small class="text-muted">
                            {{ comment.user.firstName }} {{ comment.user.lastName }} a commenté le {{ comment.postedAt | date("d/m/Y \à H:i") }}
                        </small>
                        <p class="trick__comments--content my-2 mx-2 px-1">
                            {{ comment.content }}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</section>
