<section id="tricks_section" class="mx-3 my-4 d-flex flex-column align-items-center">
    {% if app.user is not null %}
        {% if app.user.activated == true %}
            <a href="{{ path('add_trick') }}" class="btn btn-success mb-3">Ajouter une figure</a>
        {% endif %}
    {% endif %}
    <div class="card-deck">
        {% for trick in tricks | slice(0, 15) %}
            <div class="trick_card card mb-3">
                {% if trick.images is not empty %}
                    {% for image in trick.images | slice(0) %}
                        <img class="card-img-top" src="img{{ asset(image.fileName) }}" alt="Image de la figure {{ trick.name }}" width="100%" height="150">
                    {% endfor %}
                {% else %}
                    <img class="card-img-top" src="img/trickPlaceholder.jpg" alt="Image de la figure {{ trick.name }}" width="100%" height="150">
                {% endif %}
                <div class="card-body d-flex justify-content-between">
                    <h5 class="card-title align-self-center mb-0">
                        <a href="#{{ trick.id }}" data-toggle="modal"> {{ trick.name | capitalize }}</a>
                    </h5>
                    {% if app.user is not null %}
                        {% if app.user.activated == true %}
                            <div class="controls d-flex align-self-center justify-content-between">
                                <a href="{{ path( 'edit_trick', {'trickId': trick.id} ) }}"><i class="fa fa-pencil mr-2"></i></a>
                                <a href="#{{ trick.id }}_delete" data-toggle="modal"><i class="fa fa-trash"></i></a>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="card-footer">
                    <small class="text-muted">
                        {% if trick.updatedAt is empty %}
                            Créé le
                            {{ trick.createdAt | date("d/m/Y \à H:i") }}
                        {% else %}
                            Mis à jour le
                            {{ trick.updatedAt | date("d/m/Y \à H:i") }}
                        {% endif %}
                    </small>
                </div>
            </div>
            {% include('trick_information_modal.html.twig') %}
            {% include('delete_confirmation.html.twig') %}
        {% endfor %}
    </div>
</section>

